langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.15
langchain-text-splitters==0.3.2
langchain-openai==0.2.3
langchain-groq==0.2.0
langchain-huggingface==0.1.2
langchain-chroma==0.1.4
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence_transformers
faiss-cpu
duckdb
pandas
openai
duckduckgo_search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
